button, a {
  transition:         background-color 0.2s, border-color 0.2s, color 0.2s;
  -moz-transition:    background-color 0.2s, border-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  -o-transition:      background-color 0.2s, border-color 0.2s, color 0.2s;

  outline: none;
}

a {
  outline: none;
}
