.sidebar-wrapper {
  position: fixed;
  background-color:#2C313E;
  width:180px;
  height:100%;
  overflow: hidden;

  color: #ADB1B6;
  font-size: 12px;

  .nav-title {
    white-space: nowrap;
    display: block;
    padding: 15px 0 15px 15px;
    line-height: 18px;
    height: 40px;
    [class^="icon"] {
      display: block;
      float: left;
      margin-right: 13px;
      margin-bottom: 1px;
    }
    .icon-dashboard {
      margin-top: 2px;
    }
    .icon-folder {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    [class^="icon-sidebar-toggle"] {
      float: right;
      margin-top: 7px;
      margin-right: 20px;
    }
    &:hover {
      color: #ffffff;
      background-color: #545a6b;
    }
  }

  .sidebar-header {
    margin-top: 60px;
    .nav-title {
      height: 50px;
      border-bottom: 1px solid #545a6b;
    }
  }

  .nav-toggle-menu {
    margin: 0;
    padding: 0;
    opacity: 0;
    >li.nav-header {
      display: block;
    }
    >li.nav-item {
      display: block;
      .dot {
        display: none;
      }
    }

    &.active, &.nav-toggle-menu {
      opacity: 1;
    }

    transition:         opacity .2s ease;
    -moz-transition:    opacity .2s ease;
    -webkit-transition: opacity .2s ease;
    -o-transition:      opacity .2s ease;
  }

  .sidebar {
    background-color: #2C313E;
    position: absolute;
    top: 160px;
    bottom: 20px;
    left: 0;
    right: -18px; /* hide scroll bar */
    overflow: auto;

    ul.sidebar-nav {
      display: block;
      margin: 0;
      padding: 0;

      >li.nav-item {
        display: block;
        margin: 0;
        padding: 0;
        a {
          display: block;
          padding: 12px 16px;
        }

        >.nav-toggle-menu {
          display: none;
          >li.nav-header {
            display: none;
          }
          >li.nav-item {
            a {
              padding-left: 43px;
            }
          }
        }
      }
    }
    ul.nav-toggle-menu.nav-menu-float {
      position: fixed;
      background: #393f4d;
      width: 150px;
      top: 148px;
      left: 60px;
      .nav-header {
        height: 40px;
        padding: 12px 16px;
        color: #adb1b6;
      }
      .nav-item {
        .dot {
          display: block;
          margin-left: 16px;
          margin-top: 18px;
          margin-right: 10px;
        }
        .nav-title {
          padding: 12px 16px;
        }
      }

      transition:         opacity .2s ease;
      -moz-transition:    opacity .2s ease;
      -webkit-transition: opacity .2s ease;
      -o-transition:      opacity .2s ease;
    }
  }

  .sidebar-collapse {
    background-color: #white;
    position: fixed;
    width:180px;
    height:20px;
    bottom:0;

    >button {
      width: 100%;
      height: 100%;
      outline: 0;
      border: 0;
      background-color: #393f4d;
      color: #737f8c;
      letter-spacing: 2px;
      cursor: pointer;

      &:hover {
        background-color: #434958;
        color: #818C98;
      }
    }
  }

}
