$default-sanserif-typo: "Microsoft Yahei", sanserif;

body {
  font-family: $default-sanserif-typo;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: $primary-color;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
.dot-primary {
  background-color: #197aff;
}
